<h1>Listing mensajes</h1>

<table>
  <tr>
    <th>Mail</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mensajes.each do |mensaje| %>
  <tr>
    <td><%= mensaje.mail %></td>
    <td><%= mensaje.content %></td>
    <td><%= link_to 'Show', mensaje %></td>
    <td><%= link_to 'Edit', edit_mensaje_path(mensaje) %></td>
    <td><%= link_to 'Destroy', mensaje, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mensaje', new_mensaje_path %>
