<p id="notice"><%= notice %></p>

<p>
  <b>Mail:</b>
  <%= @mensaje.mail %>
</p>

<p>
  <b>Content:</b>
  <%= @mensaje.content %>
</p>


<%= link_to 'Edit', edit_mensaje_path(@mensaje) %> |
<%= link_to 'Back', mensajes_path %>
